In [51]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import ShuffleSplit
%matplotlib inline

In [52]:
data_house_train=pd.read_csv('C:\\Users\\Farnaz javan pour\\Desktop\\dataset\\boston-housing\\kaggle-boston-housing-master\\train.csv')

In [53]:
data_house_train.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [54]:
data_house_train.apply(lambda x : sum(x.isnull()))

ID         0
crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

In [55]:
data_house_train=data_house_train.drop('ID',axis=1)

In [56]:
data_house_train.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,3.360341,10.689189,11.293483,0.060060,0.557144,6.265619,68.226426,3.709934,9.633634,409.279279,18.448048,359.466096,12.515435,22.768769
std,7.352272,22.674762,6.998123,0.237956,0.114955,0.703952,28.133344,1.981123,8.742174,170.841988,2.151821,86.584567,7.067781,9.173468
min,0.006320,0.000000,0.740000,0.000000,0.385000,3.561000,6.000000,1.129600,1.000000,188.000000,12.600000,3.500000,1.730000,5.000000
25%,0.078960,0.000000,5.130000,0.000000,0.453000,5.884000,45.400000,2.122400,4.000000,279.000000,17.400000,376.730000,7.180000,17.400000
50%,0.261690,0.000000,9.900000,0.000000,0.538000,6.202000,76.700000,3.092300,5.000000,330.000000,19.000000,392.050000,10.970000,21.600000
75%,3.678220,12.500000,18.100000,0.000000,0.631000,6.595000,93.800000,5.116700,24.000000,666.000000,20.200000,396.240000,16.420000,25.000000
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,10.710300,24.000000,711.000000,21.200000,396.900000,37.970000,50.000000

In [57]:
y = data_house_train['medv']
X =data_house_train.drop('medv', axis = 1)
print(X.shape)
print(y.shape)

(333, 13)
(333,)

In [58]:
from sklearn.metrics import mean_squared_error

In [59]:
def performance_metric(y_test,y_pred):
    score=(-mean_squared_error(y_test,y_pred))**0.5
    return score

In [60]:
from sklearn.linear_model import LinearRegression

In [61]:
reg1=LinearRegression()
reg1.fit(X,y)
reg2=LinearRegression(fit_intercept=False)
reg2.fit(X,y)

LinearRegression(fit_intercept=False)

In [62]:
from sklearn.model_selection import cross_val_score
score1=(-cross_val_score(reg1,X,y,scoring='neg_mean_squared_error',cv=10))**0.5
score2=(-cross_val_score(reg2,X,y,scoring='neg_mean_squared_error',cv=10))**0.5
print(score1.mean())
print(score2.mean())

5.743730784651619
5.447081093009592

In [63]:
#import 'make_scorer','DecisinTreeRegressor',and 'gridsearchcv'
from sklearn.metrics import make_scorer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

def fit_model(X,y):
    #create cross_validation set from the training data
    cv_sets=ShuffleSplit(X.shape[0],n_splits=10,test_size=0.20,random_state=1)
    #create a desicion tree regressor object
    regressor=RandomForestRegressor(random_state=1)
    #create a dictionary for the parameter ' mat_depth '
    params={'n_estimators':(15,16,17,18,19,20,21,22,23,24,25)}
    # TODO: Transform 'performance_metric' into a scoring function using 'make_scorer'
    scoring_fnc=make_scorer(performance_metric,greater_is_better=False)
    grid=GridSearchCV(regressor,params)
    grid=grid.fit(X,y)
    return grid.best_estimator_

In [64]:
from sklearn.model_selection import train_test_split

# TODO: Shuffle and split the data into training and testing subsets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [65]:
reg=fit_model(X_train,y_train)
print("Parameter 'n_estimators' is {} for the optimal model.".format(reg.get_params()['n_estimators']))

Parameter 'n_estimators' is 25 for the optimal model.

In [66]:
from sklearn.metrics import make_scorer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [67]:
def fit_model(X,y):
    cv_sets=ShuffleSplit(X.shape[0],n_splits=10,test_size=0.2,random_state=1)
    regressor=RandomForestRegressor(n_estimators=20,random_state=1)
    params={'max_features':(1,2,3,4,5,6,7,8,9,10,11,12,13)}
    scoring_fnc=make_scorer(performance_metric,greater_is_better=False)
    grid=GridSearchCV(regressor,params)
    grid=grid.fit(X,y)
    return grid.best_estimator_

In [68]:
reg=fit_model(X_train,y_train)

In [69]:
print("Parameter 'max_features' is {} for the optimal model ".format(reg.get_params()['max_features']))

Parameter 'max_features' is 6 for the optimal model

In [70]:
from sklearn.metrics import make_scorer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [71]:
def fit_model(X,y):
    cv_set=ShuffleSplit(X.shape[0],n_splits=10,test_size=0.2,random_state=1)
    regressor=RandomForestRegressor(n_estimators=25,max_features=5,random_state=1)
    params={'max_depth':(1,2,3,4,5,6,7,8,9,10,11,12,13)}
    scoring_fnc=make_scorer(performance_metric,greater_is_better=False)
    grid=GridSearchCV(regressor,params)
    grid=grid.fit(X,y)
    return grid.best_estimator_

In [72]:
reg=fit_model(X_train,y_train)
print("Parameter 'max_depth' is {} for the optimal model  ".format(reg.get_params()['max_depth']))

Parameter 'max_depth' is 7 for the optimal model

In [73]:
tree=RandomForestRegressor(n_estimators=25,max_features=5,max_depth=11,random_state=1)
tree.fit(X,y)
from sklearn.model_selection import cross_val_score
treescores=(-cross_val_score(tree,X,y,scoring='neg_mean_squared_error',cv=10))**0.5
print(treescores.mean())

4.3153782718010785

In [74]:
data_house_test=pd.read_csv('C:\\Users\\Farnaz javan pour\\Desktop\\dataset\\boston-housing\\kaggle-boston-housing-master\\test.csv')

In [75]:
data_house_test.apply(lambda x: sum(x.isnull()))

ID         0
crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
dtype: int64

In [76]:
for col in data_house_train.columns: 
    print(col)

crim
zn
indus
chas
nox
rm
age
dis
rad
tax
ptratio
black
lstat
medv

In [77]:
predictors = ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age','dis','rad','tax','ptratio','black','lstat']
predictions = tree.predict(data_house_test[predictors])

In [79]:
pd.DataFrame({
    "ID": data_house_test["ID"],
    "medv": predictions
    }).set_index('ID').to_csv('submission.csv')